<div class="container"
     fxLayout="row"
     fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Users</h2>


        <div class="container"
             fxLayout="row"
             fxLayoutAlign="center none">
          <div class="text-center no-records animate"
               fxFlex="50%">
            <mat-icon>people_outline</mat-icon>
            <p>No users exist.</p>
          </div>
          <mat-icon></mat-icon>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>
