<div class="container login-container"
     fxLayout="row"
     fxLayoutAlign="center center">
  <form [formGroup]="form"
        fxFlex="30%"
        fxFlex.sm="50%"
        fxFlex.xs="90%">
    <mat-card>
      <mat-card-title>angular-material-template</mat-card-title>
      <mat-card-subtitle>Reset your password</mat-card-subtitle>
      <mat-card-content>

        <mat-form-field class="full-width">
          <input autocomplete="email"
                 formControlName="email"
                 id="emailInput"
                 matInput
                 placeholder="Email"
                 type="email">

          <mat-error *ngIf="form.controls['email'].hasError('email')"
                     id="invalidEmailError">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('required')"
                     id="requiredEmailError">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions class="login-actions">
        <button (click)="resetPassword()"
                [disabled]="form.invalid || loading"
                color="primary"
                id="submit"
                mat-raised-button>Reset Password
        </button>
        <button (click)="cancel()"
                id="cancel"
                mat-button>Cancel
        </button>
      </mat-card-actions>

    </mat-card>

    <mat-progress-bar *ngIf="loading"
                      mode="indeterminate"></mat-progress-bar>
  </form>
</div>
